.container{
    width: 90%;
}

h1{
   text-align: center;
}

form{
   text-align: center;}

.wmatch{
    color: orange;
}

.freq_table {
    width: 100%;
}

.freq_table tr {
    line-height:18px;
    font-size: 8pt;
    white-space: nowrap;
    font-family: "Bitstream Vera Sans Mono", monospace;
}

.freq_table td {
    max-width: 0;
    overflow: hidden;
}

th {
    text-align: center;
}

.td1 {
    width: 5%;
}

.td2 {
    width: 7%;
    color: orange;
}

.td3 {
    text-overflow: ellipsis;
    width: 39%;
    text-align: right;
    direction: rtl;
}

.td4 {
    width: 8%;
    text-align: center;
    color: blue;
}

.td5 {
    text-overflow: ellipsis;
    width: 39%;
    text-align: left;
}

.td3:hover{
    white-space: normal;
    overflow:visible;
    text-overflow: normal;
}

.td5:hover{
    white-space: normal;
    overflow:visible;
    text-overflow: normal;
}

div#loading {
    width: 80px;
    height: 118px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: none;
    background: url(hex-loader-rotated.gif) no-repeat;
    cursor: wait;
    }


#str {
    visibility: hidden;
    font-size: 8pt;
    font-family: "Bitstream Vera Sans Mono", monospace;
}

.dropdown-menu {
 left: 230px}
