{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}"></link>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block title %}Spimi search API{% endblock %}

{% block navbar %}
<div class="container">
  <div class="navbar navbar-fixed-top">
    <!-- ... -->
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container" id="container">
  <h1> Spimi search </h1>
  <form action="/spimi/api/test/">
    <div class="form-inline">
      <div class='form group'>
        <div class="input-group-btn">
          <button tabindex="-1" class="btn btn-default" type="button">Options</button>
            <button tabindex="-1" data-toggle="dropdown"
             class="btn btn-default dropdown-toggle" type="button">
              <span class="caret"></span>
          </button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="#">
                <input type="checkbox" id="cblower">
                     <span class="lbl"> Ignore uppercase </span>
            </a></li>
            <li><a href="#">
                <input type="checkbox" id="cbstrip" checked>
                    <span class="lbl"> Ignore punctuation characters</span>
            </a></li>
            <li><a href="#"><span class="lbl" style="text-align:center"
                                  > Set char width </span> 
            <div style="text-align:center;">
            <input class="knob" id=contextknob data-thickness=".2"
              data-width="120" data-height="120" data-min="1" data-max="255" 
              data-displayPrevious=true data-angleOffset=-125 data-angleArc=250 
              data-fgColor="#204d74"
              value="255"> 
            </div></a></li>
          </ul>
          <input id = "Search" name="q" type="text" class="form-control"
           placeholder="Search for a word">
              <button id='Submit' type="submit" class="btn btn-default">Submit</button>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input type="radio" name="option" id='prev' checked>
                  sort by previous
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="option" id='after' > sort by following
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="option" id='cooc' > coocurrence
                </label>
                      </div>
              </div>
  </form>
  <div id="loading"></div>
</div>
{% endblock %}


{% block scripts %}
<script type"text/javascript" src="{{url_for('static', filename='jquery.knob.js')}}"></script>
<script type"text/javascript" src="{{url_for('static', filename='responseHandler.js')}}"></script>
{% endblock %}
